#container{
  display: grid;
  grid-template-rows: 35vh 35vh 35vh;
  width: 30vw;
  align-self: flex-start;
}
#root{
  margin: 0;
  width: 1000%;

}
h1{
  height: 2vh;
  grid-row: 1/2;
}
p{
  margin: 0;
}
.General-section{
 display: grid;
 grid-template-columns: 15vw 15vw;
 border: 1px solid black;
}
.General-inputs, .General-info{
  grid-row: 2/3;
}

.Educational-section{
  display: grid;
  grid-template-columns: 15vw 15vw;
  border: 1px solid black;
}